<script lang="ts">
    import DateTime from "$lib/DateTime.svelte";
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<form method="POST" action="?/logout">
    <button class="btn-danger">déconnexion</button>
</form>

<h2>Sessions TP</h2>

<a class="btn" href="/lab-sessions/new">nouvelle session</a>

{#if data.sessions.length > 0}
    {#each data.sessions as s }
        <div class="lab-session">
            <h3><a href={`lab-sessions/${s.id}`}>{s.title}</a></h3>
            <p>Créée <DateTime dt={s.created_at}/></p>

        </div>
    {/each}
{:else}
    <p><i>aucune session TP.</i></p>
{/if}

<style>
    .lab-session {
        margin-top: 2em;
    }
</style>