body {
    font-family: sans-serif;
}

input,
button {
    font-size: 100%;
    padding: .3em .5em
}

button {
    border: none;
    background-color: #4285E7;
    color: white;
    border-radius: .3em;
    cursor: pointer;
}

button:hover {
    background-color: #1265EF;
}

#search-engine-pane a {
    color: #1f4cff
}

#search-engine-pane a:hover {
    color: #022cd4
}

#search-engine-page,
#db-page {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-content: center;
    align-items: center;
    padding-bottom: 2em;
}

#search-engine-page> :not(nav),
#db-page> :not(nav) {
    width: min(50em, 100%);
}

#web-app {
    overflow-x: scroll;
}

#web-app a.nav {
    padding: .8em;
    color: #666;
    text-decoration: none;

    /* XXX this should not be in "#web-app a" */

    align-self: flex-end;
    width: max-content;
    margin: 0;
}

#web-app a:hover {
    color: #0D60E2;
}

#web-app-error {
    background-color: #FFE9E9;
    height: 100%;
    color: #950000;
    padding: .5em;
    overflow-x: scroll;
}

#search-engine-page header {
    text-align: center;
}

#search-engine-page h3 {
    font-size: 250%;
    font-weight: normal;
    margin-bottom: 0.5em;
    color: #555;
}

#search-engine-page #search-form {
    display: flex;
    justify-content: center;
}

#search-engine-page #search-form button {
    margin-left: 0.5em;

    padding: .4em .8em;
    font-size: 120%;
    background-color: #CEEAFF;
    color: #295B90;
}

#search-engine-page #search-form button:hover {
    background-color: #2F88E6;
    color: #EEF6FF;
}

#search-engine-page #search-results {
    text-align: left;
    margin-top: 2em;
    width: min(50em, 80%);
    margin-left: auto;
    margin-right: auto;
}

#search-engine-page #search-results ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    padding: 0;
}

#search-engine-page #search-results ul li {
    list-style-type: none;
}

.disabled-info {
    background-color: rgba(250, 250, 250, 0.83);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    padding: .5em;
    box-sizing: border-box;
}

#db-page #doc-list ul {
    padding: 0;
}

#db-page #doc-list>ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#db-page #doc-list ul li {
    list-style-type: none;
}

#index .content ul {
    padding: 0;
}

#index .content li {
    list-style-type: none;
    margin: .2em 0em;
}