<script lang="ts">
    import { page } from "$app/stores";
    import DateTime from "$lib/DateTime.svelte";
    import { customFetch } from "$lib/fetch";
    import type { PageData } from "./$types";

    export let data: PageData;

    async function joinSession(code: string) {
        await customFetch(fetch)("/api/join-session", {
            method: "POST",
            body: { code },
        });

        window.location.assign("/tp/01");
    }

    // fooling the typescript checker into thinking "code" cannot be null
    // because typescript does not understand that "code" will indeed not be null
    // in the "if code" JSX block.
    let code: string;
    $: code = $page.url.searchParams.get("code") as string;
</script>

<main>
    <h1>Mogahan</h1>

    {#if code && data.labSession}
        <h2>TP: {data.labSession.title}</h2>

        <p>créé <DateTime dt={data.labSession.created_at}/></p>

        <p>{data.labSession.notes_for_students}</p>

        <div class="buttons">
            <button on:click={() => joinSession(code)}
                >rejoindre</button
            >
        </div>
    {:else}
        {#if code}
            <p class="error">
                Code invalide :
                aucun TP trouvé avec le code « {code} »
            </p>
        {/if}

        <form method="GET">
            <label>
                Entrez le code pour rejoindre une session TP:
                <input type="text" name="code">
            </label>
            <button>rejoindre</button>
        </form>
    {/if}

</main>

<style>
    main {
        margin: auto;
        max-width: 40em;
        padding: .5em;
    }

    h1 {
        font-weight: normal;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 50em;
    }

    input {
        font-size: 100%;
    }

    form button {
        align-self: self-end;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }

    .error {
        color: red;
    }
</style>
