<script lang="ts">
    import DateTime from "$lib/DateTime.svelte";
    import { askConfirmation } from "$lib/browserUtils";
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<header>
    <div class="info">
        <h1>Session Étudiant {data.id}</h1>
        <p>Créée <DateTime dt={data.created_at}/></p>
    </div>
    <div class="buttons">
        <form
            method="POST"
            action="?/delete"
            on:submit={askConfirmation("supprimer la session élève ?")}
        >
            <button class="btn-danger">supprimer</button>
        </form>
    </div>
</header>

<p>
    Session TP : <a href={`../lab-sessions/${data.labSession.id}`}
        >{data.labSession.title}</a
    >
</p>

{#if data.last_saved_at}
    <p>Dernière sauvegarde: <DateTime dt={data.last_saved_at}/></p>

    <pre>{data.save}</pre>
{:else}
    <p>Pas de sauvegarde</p>
{/if}

<style>
    header {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    h1 {
        word-break: break-all;
    }

    pre {
        background-color: #f6f6f6;
        padding: 1em;
        max-width: 70em;
        border: 1px solid #ddd;
    }
</style>
