<script lang="ts">
    import { dev } from "$app/environment";
import { page } from "$app/stores";
    import { env } from "$env/dynamic/public";
    import type { PageData } from "./$types";

    export let data: PageData;

    let showIframe: boolean = false;
    let formError: string | null;

    const sandboxUrl = `${env.PUBLIC_SCHEME || `https`}://${
        env.PUBLIC_SANDBOX_SITE
    }`;

    function onSubmit(e: SubmitEvent) {
        formError = null;

        const data = new FormData(e.target as HTMLFormElement);

        const title = data.get('title');
        if (!title) {
            formError = 'titre manquant';
            e.preventDefault();
            return;
        }

        showIframe = true;
    }
</script>

<nav>
    <a href={`/lab-sessions/${$page.params.id}`}>session TP {$page.params.id}</a>
    / <span>combiner et exporter les sauvegardes étudiantes</span>
</nav>

<div class="info">
    <p class="alert">Cette fonctionalité est encore expérimentale.</p>

    <p>
        Cette page combine les travaux de toutes les sessions étudiantes d'une
        session TP en un seul moteur de recherche, et vous permet de télécharger
        le résultat sous forme d'un fichier HTML (tout comme les étudiants
        peuvent exporter leur travail dans l'interface du TP).
    </p>

    <p>
        Le fichier HTML téléchargé peut être ouvert sans connexion à Internet,
        être envoyé via email ou messagerie, et peut être hébergé sur un serveur
        Web.
    </p>
</div>

<div id="container">
    <form
        method="POST"
        action={`${sandboxUrl}/iframed`}
        target="iframe"
        on:submit={onSubmit}
    >
        <div class="buttons">
            <button>tester</button>
            <button formaction={`${sandboxUrl}/download`}>télécharger</button>
        </div>

        {#if formError}
            <p class="error">{formError}</p>
        {/if}

        <label>
            titre: <input type="text" name="title" value=Mogahan>
        </label>

        <label>
            sous-titre: <input type="text" name="subtitle">
        </label>

        <textarea name="source" spellcheck="false">{data.merged}</textarea>
    </form>

    {#if showIframe}
        <!--
            XXX the JS console says "An iframe which has both allow-scripts and allow-same-origin for its sandbox attribute
            can remove its sandboxing.".
            Note that because the iframe is served from a different origin
            it does not seem to be able to access the cookies from its parent window.
            This is probably still true without the "sandbox" though.
            The sandbox attribute here probably gives us a thin protection
            against things like trigerring fetch or dialogs etc...
            We should be able to get rid of the warning
            by removing the "allow-same-origin"
            but right now if we do that the search engine does not work in development mode
            because it is served from a HTTP location, not a HTTPS one,
            so it does not have access to some features Brython needs to function.
            Actually it seems that even with HTTPS,
            removing "allow-same-origin" leads to the iframe not being able to run Brython.
        -->
        <iframe
            sandbox={
                "allow-scripts allow-forms allow-downloads allow-same-origin"
            }
            title="prévisualisation du moteur de recherche"
            name="iframe"
        />
    {:else}
        <div class="iframe-placeholder">
            <p>cliquer sur « tester » pour tester le code.</p>
        </div>
    {/if}
</div>

<style>
    nav {
        color: #444;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    div.info {
        margin: 2em 0;
    }

    p.alert {
        background-color: #ffa79e;
        padding: 0.5em;
        color: #8b0f03;
    }

    #container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .error {
        color: #D00;
    }

    textarea {
        resize: none;
        min-height: 60em;
    }

    .buttons {
        grid-area: sourceButtons;
    }

    iframe {
        height: 100%;
        width: 100%;
    }

    .iframe-placeholder {
        border: 1px solid #bbb;
        background-color: #fbfbfb;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #444;
        /*
            XXX why doesn't this element need width and height of 100%
            when the iframe does?
        */
    }
</style>
