<script lang="ts">
    export let notes: string | undefined;
</script>

<form action="?/notes-for-students" method="post">
    <h3>Notes au étudiants</h3>
    <p class="info">(affiché au moment de rejoindre le TP)</p>

    <textarea name="notes-for-students">{notes}</textarea>
    <button>mettre à jour</button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 50em;
    }

    h3 {
        margin-bottom: 0;
    }

    p.info {
        margin-top: 0;
        font-size: smaller;
    }

    textarea {
        font-size: 100%;
        font-family: inherit;
    }

    button {
        align-self: self-end;
    }
</style>