<script lang="ts">
    import DateTime from "$lib/DateTime.svelte";
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<div class="container">
    {#if data.studentSessions.length > 0}
        <header>
            <h2>Sessions étudiantes</h2>
            <div class="buttons">
                <a
                    class="btn"
                    href={"/lab-session-save-export/" + data.id}
                    target="_blank">voir toutes les sauvegardes</a
                >
                <a
                    class="btn"
                    href={data.id+"/export"}
                >combiner et exporter</a>
            </div>
        </header>

        {#each data.studentSessions as s}
            <div class="student-session">
                <a href={`../student-lab-sessions/${s.id}`}><h3>{s.id}</h3></a>

                <div class="info">
                    <p>Créée <DateTime dt={s.created_at} /></p>

                    {#if s.last_saved_at}
                        <p>
                            Dernière sauvegarde: <DateTime
                                dt={s.last_saved_at}
                            />
                        </p>
                    {:else}
                        <p class="no-save">Pas de sauvegarde</p>
                    {/if}
                </div>
            </div>
        {/each}
    {:else}
        <p>Aucune session étudiantes</p>
    {/if}
</div>

<style>
    div.container {
        margin-top: 3em;
    }

    header {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
    }

    header .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
    }

    header .buttons .btn {
        height: min-content;
    }

    h2 {
        margin-top: 1.3em;
    }

    div.student-session {
        border: 1px solid #ccc;
        margin-top: 0.6em;
        max-width: 40em;
    }

    .student-session a h3 {
        background-color: #efeff6;
        margin: 0;
        padding: 0.3em;
    }

    .student-session a h3:hover {
        background-color: #e6e6ef;
        text-decoration: none;
    }

    .student-session > div {
        padding: 0.5em;
    }

    .no-save {
        color: #777;
    }
</style>