<script lang="ts">
    import { env } from "$env/dynamic/public";
    import { DateTime } from "$lib/dateTime";
    import type { PageData } from "./$types";

    export let data: PageData;

    const dateFormat = {
        ...DateTime.DATETIME_HUGE,
        timeZoneName: undefined,
    };

    function dateToString(dt: DateTime): string {
        return dt.setZone("Europe/Paris").toLocaleString(dateFormat);
    }
</script>

<main>

<h1>{data.title}</h1>

<ul>
    <li>
        TP :
        <a href={env.PUBLIC_DOMAIN + "/tp/01"}>
            {env.PUBLIC_DOMAIN + "/tp/01"}
        </a>
    </li>
    <li>
        <a href={env.PUBLIC_DOMAIN+"/lab-sessions/"+data.id}>
            session TP {data.id}
        </a>
    </li>
    <li>date d'export : {dateToString(DateTime.now())}</li>
</ul>

<h2>Sessions avec sauvegarde</h2>

{#if data.savedSessions.length > 0}
    {#each data.savedSessions as s}
        <h3>{s.id}</h3>

        <ul class="info">
            <li>créée le {dateToString(DateTime.fromISO(s.created_at))}</li>
            <li>
                dernière sauvegarde le {dateToString(
                    DateTime.fromISO(s.last_saved_at)
                )}
            </li>
        </ul>

        <pre>{s.last_save}</pre>
    {/each}
{:else}
    <p><i>Aucune</i></p>
{/if}

<h2>Sessions sans sauvegarde</h2>

{#if data.unsavedSessions.length > 0}
    <ul>
        {#each data.unsavedSessions as s}
            <li>
                {s.id}
                (créée le {dateToString(DateTime.fromISO(s.created_at))})
            </li>
        {/each}
    </ul>
{:else}
    <p><i>Aucune</i></p>
{/if}

</main>

<style>
    main {
        max-width: 70em;
        margin: auto;
        padding: .5em;

        /* 
            this is already in static/main.css
            but main.css will not be included when saving the page
        */

        font-family: sans-serif;
    }

    pre {
        font-size: 100%;
        border: 1px solid #DDD;
        padding: 1em;
    }

    .info {
        font-size: smaller;
    }
</style>