{{ web_app_site }} {
    {% if dev %}
        root * /usr/share/caddy/
    {% else %}
        root * /var/www/vhosts/{{ web_app_site }}
    {% endif %}

    route {
        # try serving a static file,
        # and if this fails forward to SvelteKit
        # XXX not ideal, instead we should compute the routes
        # that must be forwarded to SvelteKit
        # and list them explicitely
        file_server {
            pass_thru
        }
        reverse_proxy 127.0.0.1:{{web_app_port}} # "web-app" container
    }

    handle /tp/* {
        file_server
    }

    {% if not dev %}
    # adapted from https://caddy.community/t/making-caddy-logs-more-readable/7565/12
        log {
            output file /var/log/caddy/{{web_app_site}} {
                roll_size 12mb
                roll_keep 10
                roll_keep_for 2160h
            }
        }
    {% endif %}
}

{{ sandbox_site }} {
    reverse_proxy 127.0.0.1:{{sandbox_port}} # "sandbox" container

    {% if not dev %}
    # adapted from https://caddy.community/t/making-caddy-logs-more-readable/7565/12
        log {
            output file /var/log/caddy/{{sandbox_site}} {
                roll_size 12mb
                roll_keep 10
                roll_keep_for 2160h
            }
        }
    {% endif %}
}