body {
    font-family: sans-serif;
}

input,
button {
    font-size: 100%;
    padding: .3em .5em
}

button {
    border: none;
    background-color: #4285E7;
    color: white;
    border-radius: .3em;
    cursor: pointer;
}

button:hover {
    background-color: #1265EF;
}

#webapp {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-content: center;
}

#webapp h3 {
    font-size: 250%;
    font-weight: normal;
    margin-bottom: 0.5em;
    color: #555;
}

#webapp header p {
    color: #555;
}

#webapp #search-form {
    display: flex;
    justify-content: center;
    gap: .5em;
}

#webapp #search-results {
    text-align: left;
    margin-top: 2em;
    max-width: min(50em, 80%);
    margin-left: auto;
    margin-right: auto;
}

#webapp #search-results ul li {
    list-style-type: none;
}

#webapp #search-results ul li a {
    display: block;
    color: inherit;
    padding: 0.5em;
    text-decoration: none;
}

#webapp #search-results ul li a:hover {
    text-decoration: none;
}

#webapp #search-results ul li a h4 {
    color: #007bff;
    margin-bottom: 0em;
    font-weight: normal;
}

#webapp #search-results ul li a small {
    color: #555;
}

#webapp #search-results ul li a:hover h4 {
    text-decoration: underline;
}

#webapp #search-results ul li a.no-title h4 {
    font-size: 110%;
}