body {
    font-family: sans-serif;
    margin: 0;
}

a {
    color: rgb(50, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(20, 110, 255);
}

button, .btn {
    padding: .3em .7em;
    font-size: 100%;
    background-color: rgb(20, 110, 255);
    border: none;
    border-radius: .3em;
    color: rgb(243, 246, 255);
    cursor: pointer;
}

button:hover, .btn:hover {
    color: white;
    background-color: rgb(16, 91, 212);
    text-decoration: none;
}

button.btn-danger, .btn.btn-danger {
    background-color: darkred;
}

button.btn-danger:hover, .btn.btn-danger:hover {
    background-color: red;
}

input {
    font-size: 100%;
    padding: .15em .35em;
}