body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > h1 {
    margin-top: 0;
}

button, a.btn {
    font-size: 100%;
    background-color: #e5e9f0;
    color: inherit;
    border: none;
    padding: 0.4em 1em;
    cursor: pointer;
}

a.btn.btn-primary, button.btn-primary {
    background-color: #5985b4;
    color: white;
}

button.btn-primary:hover {
    background-color: #056bd9;
    color: white;
}

button.btn-danger {
    background-color: #e78c7b;
    color: white;
}

button.btn-danger:hover {
    background-color: #d83823;
    color: white;
}

button:hover, a.btn:hover {
    background-color: #d8dee9;
    text-decoration: none;
    color: inherit;
}

.action-btns {
    display: flex;
    flex-direction: row-reverse;
}

a {
    text-decoration: none;
    color: #04447d;
}

a:hover {
  color: #074bb5;
  text-decoration: underline;
}

pre code {
    background-color: #eceff4;
    padding: 1em;
    min-height: 5em;
    display: block;
    box-sizing: border-box;
    max-width: min(95%, 110ch);
    overflow-x: scroll;
}

.error, .feedback-error {
    color: #E10000;
}

.feedback-success {
    color: #00C000;
}

form {
    max-width: 40em;
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type="text"] {
    font-size: 100%;
}

form > div {
    margin-top: 1em;
    margin-bottom: 1em;
}
form > div:first-child {
    margin-top: 0;
}
form > div:last-child {
    margin-bottom: 0;
}

.form {
    background-color: #F6F6F6;
    padding: 1em;
}

.max-content {
    max-width: max-content;
}

.form > *:first-child {
    margin-top: 0;
}

.form h4 {
    color: #333;
}

textarea {
    width: 100%;
    min-height: 5em;
    font-size: 90%;
    font-family: inherit;
    box-sizing: border-box;
}