html {
  font-family: sans-serif;
}

body {
  padding-bottom: 2em;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0;
  line-height: 1.5em;
  height: 100%;
  position: relative;
}

a {
  color: #06D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  color: #C22;
  font-size: 110%;
}


.btn {
  background-color: #3D8FE7;
  color: white;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: #0F7CF0;
  text-decoration: none;
}

.btn.btn-disabled {
  background-color: #EEE;
  color: #888;
}

.btn-container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

body>main>* {
  margin-left: auto;
  margin-right: auto;
}

body>main>h2 {
  max-width: 100%;
}

body>main>p,
body>main>ul {
  max-width: 60ch;
}

body>footer {
  margin-top: 4em;
}

@media (min-width: 800px) {
  body>main,
  body>footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
  }

  body>header {
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 70em;
  }
}