<script lang="ts">
  import { page } from '$app/stores';
  
  const statusesWithText = new Map<number, string>([
    [403, 'Interdit'],
  ]);
</script>

{#if $page.error}
    <h1>
      HTTP {$page.status} {statusesWithText.get($page.status) || ''}
      : {$page.error.message}
    </h1>
{/if}