<script lang="ts">
    import { base } from "$app/paths";
    import { page } from "$app/stores";
    import { errorMsgs } from "$lib/errors";

    export let form: ActionData;

    async function validateToken(urlHash: string) {
        if (urlHash == '') {
            return null;
        }

        const token = (new URLSearchParams(urlHash.slice(1))).get('token');

        if (!token) {
            return null;
        }

        const response = await fetch(
            base + "/api/check-account-creation-token",
            {
                method: "POST",
                body: token,
            }
        );

        if (response.ok) {
            return token;
        }

        const responseBody = await response.text();

        let errorMessage: string | undefined = undefined;
        try {
            errorMessage = await getResponseMessage(response.status, responseBody);
        } catch {}

        if (errorMessage) {
            throw errorMessage;
        }

        throw new Error(`Unexpected response: HTTP ${response.status}: ${responseBody}`);
    }

    async function getResponseMessage(status: number, body: string) {
        if (status != 403) {
            throw new Error('status is not 403');
        }

        const { message } = JSON.parse(body);

        if (
            message === errorMsgs.accountCreationTokenExpired
            || message === errorMsgs.accountCreationTokenInvalid
        ) {
            return message;
        }

        throw new Error('unexpected response body');
    }
</script>

<h1>Création de compte enseignant</h1>

{#await validateToken($page.url.hash) then token}
    {#if token}
        <form method="POST">
            {#if form?.errMsg}<p class="error">{form.errMsg}</p>{/if}
            <label>
                email
                <input name="email" type="email" />
            </label>
            <label>
                password
                <input name="password" type="password" />
            </label>
            <input type="hidden" name="token" value={token} />
            <button>valider</button>
        </form>
    {:else}
        <p>Le lien de création de compte semble invalide.</p>
    {/if}
{:catch error}
    <p>Erreur: {error}</p>
{/await}

<style>
    .error {
        color: red;
    }
</style>