<script lang="ts">
    import { DateTime } from "luxon";
    import { dateTimeToString } from "./dateTime";

    export let dt: DateTime | string;

    let text: string;
    let title: string;

    $: {
        try {
            // TODO recompute at a regular interval?
            const casted = typeof dt == 'string' ? DateTime.fromISO(dt) : dt;
            if (!casted.isValid) {
                throw new Error(casted.invalidExplanation || '(no explanation)');
            }

            text = dateTimeToString(casted);
            title = casted.toISO() as string;
        } catch (error) {
            if (error instanceof Error) {
                error.message = `rendering date ${dt} (type ${typeof dt}): ${error.message}`;
            }
            throw error;
        }
    }

</script>

<span title={title}>{text}</span>